@charset "UTF-8";

#container{
	width:980px;
	margin:50px auto 0px auto;
}



.cart_list > table{
	width:100%;
	border-collapse:collapse;
}

.cart_list tr{
	border:1px solid #d6d6d6;
}

.cart_list tr:first-child{
	height:50px;
	background-color:#efefef;
}


.cart_list input[type="checkbox"]{
	width:0px; height:0px;
}

.cart_list input[type="checkbox"] + label:before{ /* + : 인접 형제 선택자 */
	width:24px; height:24px;
	display:inline-block;
	content:"";
	background:url("../../../../../../resources/images/user/member/culture/cart/list/checkbox.png") -1px -1px no-repeat;
	cursor:pointer;
}

.cart_list input[type="checkbox"]:checked + label:before{
	background-position:-26px -1px;
}


.cart_list th.name{
	
}

.cart_list th.price{
	
}

.cart_list th.count{
	
}

.cart_list th.buy_price{
	
}


.cart_list td{
	text-align:center;
}

.cart_list td.name{
	overflow:hidden;
}

.cart_list td.name > img{
	width:90px; height:90px;
	margin-left:30px; margin-right:50px;
	float:left;
}

.cart_list td.name > .txt{
	text-align:left !important;
	float:left;
}

.cart_list td.count{
	width:100px;
	position:relative;
}

.cart_list td.count > span{
	width:36px; height:29px;
	display:inline-block;
	margin-left:-10px;
	line-height:27px;
	border:1px solid #bdc1c8; border-right:none;
	font-size:16px;
}

.cart_list td.count > a{
	width:18px; height:15px;
	position:absolute;
	border:1px solid #bdc1c8;
}

.cart_list td.count > a:before{
	width:10px; height:7px;
	display:block;
	content:"";
	margin:3px auto;
}

.cart_list td.count > .plus{
	
}

.cart_list td.count > .plus:before{
	background:url("../../../../../../resources/images/user/member/culture/cart/list/arrow_button.png") no-repeat;
}

.cart_list td.count > .minus{
	top:46px;
}

.cart_list td.count > .minus:before{
	background:url("../../../../../../resources/images/user/member/culture/cart/list/arrow_button.png") -10px top no-repeat;
}

.cart_list td.delete_button > button{
	width:22px; height:22px;
	padding:0px;
	background:url("../../../../../../resources/images/user/member/culture/cart/list/delete_button.png") center center no-repeat;
	border:1px solid #bebebe;
	cursor:pointer;
}



.totalPrice_wrap > table{
	width:100%;
	margin-top:70px;
	text-align:center;
	border-collapse:collapse;
	border-bottom:1px solid #d6d6d6;
}

.totalPrice_wrap tr:first-child{
	height:50px;
	background-color:#efefef;
}

.totalPrice_wrap td{
	height:120px;
	font-family:"GGV_Font01"; font-size:26px;
}

.totalPrice_wrap .sale{
	width:350px;
	position:relative;
}

.totalPrice_wrap .sale:before{
	width:51px; height:52px;
	display:block;
	content:"";
    position:absolute;
    left:0; top:36px;
    background:url("../../../../../../resources/images/user/member/culture/cart/list/calculator_marker.png") left top no-repeat;
}

.totalPrice_wrap .sale:after{
	width:51px; height:52px;
	display:block;
	content:"";
    position:absolute;
    right:0; top:36px;
    background:url("../../../../../../resources/images/user/member/culture/cart/list/calculator_marker.png") -51px top no-repeat;
}



.payment_button{
	width:208px; height:60px;
	display:block;
	margin:50px auto 0px auto;
	line-height:60px;
	text-align:center;
	border: 1px solid #373e46;
	background-color:#373e46;
	font-size:19px; font-weight:bold;
	color:white;
	cursor:pointer;
}